#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.board-container {
  display: grid;
  grid-template-columns: repeat(3 , 100px);
  grid-template-rows: repeat(3, 100px);
  /* justify-content: space-evenly; */
  align-items: stretch;
  gap:5px;
  background-color: powderblue;
  padding: 5px;
  border-radius: 15px;
}

.slot {
  padding: 10px;
  /* line-height: 0px; */
  font-size: 2.5rem;
  background-color: dodgerblue;
  border-radius: 10px;
  /* vertical-align: bottom; */
}

button.playAgain {
  /* background-color: cyan; */
  padding: 1rem 2rem;
  margin-top: 1rem;
}

button.slot:active {
  background-color: blueviolet;
}

button.slot:current {
  background-color: rebeccapurple;
}

@media (pointer:coarse) {
  button.slot:focus {
    outline: none;
  }
}